@mixin base-button($color,$border-color:$color,$text-color:white){
    background-color: $color;
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$color');*/
    -ms-filter: none;
    filter: none;
    background-image: -khtml-gradient(linear, left top, left bottom, from($color), to($color));
    background-image: -moz-linear-gradient(top, $color, $color);
    background-image: -ms-linear-gradient(top, $color, $color);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color), color-stop(100%, $color));
    background-image: -webkit-linear-gradient(top, $color, $color);
    background-image: -o-linear-gradient(top, $color, $color);
    background-image: linear-gradient($color, $color);
    border: 1px solid $border-color;
    color: $text-color;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.00);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    font-weight: bold;
    background-position: 0% 0%;
}

.btn-action {
    @include base-button($green, $green, $white);
    text-decoration: none;
    
    &:hover {
        @include base-button($green-active, $green-active, $white);
        text-decoration: none;
    }
}

