/* Primary colors */
$black: #000000;
$grey: #333333;
$light-grey: #cfcfcf;
$purple: #6a0d39;
$off-white: #f7f3ea;
$white: #fff;
$white-background: rgba(220, 220, 220, 0.8);

/* Secondary colors */
$green: #8dbe40;
$green-active: #537c15;
